<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Author</h1>

  <p>Me llamo Carlota Lopez y este blog ha sido creado  por mi.</p>
  <p><img src="/images/imagen.jpg" alt="Foto del autor" width="300"/></p>

  </body>
</html> 