body {
    --primary: #333;
    --secondary: #2a4f03;
    background: white;
    color: var(--primary);
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: large;
}

.no-narrow {
    display: none;
}

#page:after {
    content: "Smartphone Layout";
}
body {
  --primary: #333;
  --secondary: #dfd88d;
  background: white;
  color: var(--primary);
} 

#mainHeader {
  background-color: #999999;
  text-align: center;
  color: #1e00ff; 
  padding: 10px;
}

#mainSection {
  justify-content: center;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainNav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: underline;
  display: inline-block;
}

#mainFooter {
  margin-top: 20px;
  padding: px;
  border-top: 1px solid #333;
  text-align: right;
} 
