body {
  --primary: #333;
  --secondary: #dfd88d;
  background: white;
  color: var(--primary);
} 

#mainHeader {
  background-color: #999999;
  text-align: center;
  color: #1e00ff; 
  padding: 10px;
}

#mainSection {
  justify-content: center;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainNav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: underline;
  display: inline-block;
}

#mainFooter {
  margin-top: 20px;
  padding: px;
  border-top: 1px solid #333;
  text-align: right;
} 

.button {
  display: inline-block;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

form {
  padding: 20px;
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(92, 37, 37, 0.1);
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; 
}

.attachment {
  border-radius: 10px;
  object-fit: cover;
  width: 100px;
  height: 100px;
 }

table td {
  padding: 10px; 
}