<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Editar Post:</h1>
    <form action="/posts/<%= post.id %>?_method=PUT" method="post" enctype="multipart/form-data">
        <% include ./_form.ejs %>
    </form>
</body>
</html>

